/* Reset de márgenes y padding */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Estilos para el contenedor principal */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
    color: #333;
    margin: 20px;
}

/* Estilos para el encabezado */
#cabecera {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Estilos para los títulos */
h1 {
    font-size: 36px;
    margin-top: 20px;
}

h2 {
    font-size: 28px;
    margin-top: 15px;
}

h3 {
    font-size: 20px;
    margin-top: 10px;
}

/* Estilos para los párrafos */
p {
    margin-bottom: 15px;
}

/* Estilos para los comandos */
h3 {
    color: #007bff;
    font-weight: bold;
}

/* Estilos para los textos de comando */
p {
    color: #555;
}
